.size-img {
  max-width: 100%;
  max-height: 55vh;
  margin: 0 auto;
}

.carousel-indicators {
  position: inherit !important;
}

.carousel-caption {
  position: initial !important;
}

.name {
  font-family: HomemadeApple;
}