header {
  height: 3rem;
  width: 100%;
  position: fixed;
  background-color: none;
  border-bottom: 1px solid #a36b49;
}

nav {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

a {
  color: black;
  font-size: 2rem;
}