main {
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  background-image: radial-gradient(circle, #f5f0dc, #e2d4b1, #e9cb99, #e2b88c, #d6aa80, #a36b49);
}

section {
  padding-top: 4rem;
  height: calc(100% - 3rem);
  width: 100%;
  scroll-snap-align: start;
  scroll-margin-bottom: 3rem;
  border: 1px solid green;
}