main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}

.major-main {
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  background-image: radial-gradient(circle, #e2d4b1, #e9cb99, #e2b88c, #d6aa80, #a36b49);
}

.main-splits {
  padding-top: 5rem;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

section.parallax {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slide 12s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url(../../assets/images/hotel-piscina-01.svg);
  background-attachment: fixed;
  box-shadow: inset 0 15rem 30rem 0 #a36b49;
}

.corners {
  width: 100%;
}

.opening {  
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.logo {
  max-height: 20rem;
  padding-bottom: 2rem;
}

.date {
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.date>p {
  color: white; 
  font-size: 2.5rem;
  text-shadow: -1px -1px 0px black, -1px 1px 0px black, 1px -1px 0px black, 1px 0px 0px black;
  font-family: HomemadeApple;
}

.call-us { 
  font-size: 2rem;
  font-family: HomemadeApple;
}

section#section-one{
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

section#section-four{
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.subscription {  
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content:space-evenly;
}

.contact-icons {
  padding: 0 2rem;
  width: 9rem;
}

.nav-tabs {
  --bs-nav-tabs-border-width: 1.5px;
  --bs-nav-tabs-border-color: black;
  --bs-nav-tabs-border-radius: 2rem;
  --bs-nav-tabs-link-hover-border-color: black;
  --bs-nav-tabs-link-active-bg: #D2B48C;
  --bs-nav-tabs-link-active-border-color: #e9cb99;
}

.nav-link {
  color: black;
}

.tab-content {
  height: 84vh;
} 

.tab-content > .active {
  height: 84vh; 
}

@font-face {
  font-family: HomemadeApple;
  src: url(../../assets/fonts/HomemadeApple.ttf);
}

@keyframes slide {
  0% {
    background-image: url(../../assets/images/hotel-piscina-01.svg);
  }
  50% {
    background-image: url(../../assets/images/hotel-piscina-02.svg);
  }
  100% {
    background-image: url(../../assets/images/hotel-02.svg);
  }
}