main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

article {
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  background-image: radial-gradient(circle, #e2d4b1, #e9cb99, #e2b88c, #d6aa80, #a36b49);
}

section {
  padding-top: 5rem;
  // height: 100%;
  // width: 100%;
  scroll-snap-align: start;
}

section.parallax {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slide 12s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url(../../assets/images/hotel-piscina-01.jpg);
  background-attachment: fixed;
  box-shadow: inset 0 15rem 30rem 0 #a36b49;
}

.opening {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.date>p {
  color: white; 
  font-size: 3rem;
  font-family: HomemadeApple;
}

section#section-one{
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

section#section-four{
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.form {
  padding-bottom: 5rem;
}

@font-face {
  font-family: HomemadeApple;
  src: url(../../assets/fonts/HomemadeApple.ttf);
}

@keyframes slide {
  0% {
    background-image: url(../../assets/images/hotel-piscina-01.jpg);
  }
  50% {
    background-image: url(../../assets/images/hotel-piscina-02.jpg);
  }
  100% {
    background-image: url(../../assets/images/hotel-02.jpg);
  }
}
