@font-face {
  font-family: MontSerrat;
  src: url(./assets/fonts/MontserratAlternates.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MontSerrat;
  font-size: 1vw;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// @include media-breakpoint-down(lg) {
//   *,
//   *::after,
//   *::before {
//     font-size: 1.4vw;
//   }
// }
